asgiref==3.11.1
colorama==0.4.6
Django==5.2.13
djangorestframework
djangorestframework-simplejwt
django-cors-headers==4.9.0
drf-spectacular
exceptiongroup==1.3.1
gunicorn
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
psycopg2-binary
pytest==9.0.3
pytest-django==4.12.0
python-dotenv
sqlparse==0.5.5
tomli==2.4.1
typing_extensions==4.15.0
tzdata==2026.2
ruff

